{
  "gui": {
    "background": {
      "zlevel": -1,
      "type": "background",
      "fileHeader": "/objects/crew/interface/header.png",
      "fileBody": "/objects/crew/interface/body_altered.png?setcolor=0000007F?multiply=0000007F",
      "fileFooter": ""
    },
    "outfitScrollArea": {
      "type": "scrollArea",
      "rect": [10,10,157,206],
      "visible" : true,
      "children": {
        "outfitList": {
          "type": "list",
          "callback": "outfitSelected",
          "schema": {
            "spacing": [0,0],
            "memberSize": [147,22],
            "selectedBG": "/objects/crew/interface/listitem.png:active",
            "unselectedBG": "/objects/crew/interface/listitem.png:disabled",
            "disabledBG": "/objects/crew/interface/listitem.png:disabled",
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/objects/crew/interface/listitem.png:disabled",
                "position": [0,0],
                "zlevel": -1
              },
              "title": {
                "type": "label",
                "position": [25,6],
                "hAnchor": "left",
                "wrapWidth": 130,
                "value": "Replace Me"
              },
              "imageSlot": {
                "type": "image",
                "position": [10,11],
                "centered": true,
                "callback": "null",
                "scale": 0.9
              }
            }
          }
        }
      }
    },
    "tbOutfitName" : {
      "type" : "textbox",
      "zlevel" : 9,
      "position" : [160, 160],
      "hint" : "input override",
      //"regex" : "[a-z0-9.-]{0,999}",
      "maxWidth" : 150,
      "enterKey" : "updateOutfitName",
      "focus" : false,
      "callback" : "null",
      "visible" : false
    },
    "btnAcceptOutfitName" : {
      "type" : "button",
      "zlevel" : 9,
      "position" : [260, 160],
      "base" : "/interface/buttonred.png",
      "hover" : "/interface/buttonredhover.png",
      "pressedOffset" : [-1,-1],
      "caption" : "Save",
      "callback" : "updateOutfitName",
      "visible" : false
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "zlevel" : 11,
      "position" : [200, 40],
      "dimensions" : [1, 4],
      "spacing" : [20, 20],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "backingImage" : "/interface/inventory/emptier.png",
      "visible" : false
    },
    //W:20 H:80
    "itemGridImageRect" : {
      "zlevel" : 10,
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [200, 40, 220, 120],
      "visible" : false,
      "children" : {
        "imgItemGrid01": {
          "zlevel": 10,
          "type": "image",
          "position": [0, 60],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "file": "/objects/crew/interface/backingimageprimary_mod.png"
        },
        "imgItemGrid02": {
          "zlevel": 10,
          "type": "image",
          "position": [0, 40],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "mouseTransparent" : true,
          "file": "/objects/crew/interface/backingimagealt_mod.png"
        },
        "imgItemGrid03": {
          "zlevel": 10,
          "type": "image",
          "position": [0, 20],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "mouseTransparent" : true,
          "file": "/objects/crew/interface/backingimageprimary_mod.png"
        },
        "imgItemGrid04": {
          "zlevel": 10,
          "type": "image",
          "position": [0, 0],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "mouseTransparent" : true,
          "file": "/objects/crew/interface/backingimagealt_mod.png"
        }
      }
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "zlevel" : 11,
      "position" : [280, 40],
      "dimensions" : [2, 4],
      "spacing" : [20, 20],
      "slotOffset" : 4,
      "hAnchor": "left",
      "vAnchor": "bottom",
      "backingImage" : "/interface/inventory/emptier.png",
      "visible" : false
    },
    //W:40 H:80
    "itemGrid2ImageRect" : {
      "zlevel" : 10,
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [280, 40, 320, 120],
      "visible" : false,
      "children" : {
        "imgItemGrid05": {
          "zlevel": 10,
          "type": "image",
          "position": [0, 60],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "mouseTransparent" : true,
          "file": "/objects/crew/interface/backingimagehead_mod.png"
        },
        "imgItemGrid07": {
          "zlevel": 10,
          "type": "image",
          "position": [0, 40],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "mouseTransparent" : true,
          "file": "/objects/crew/interface/backingimagechest_mod.png"
        },
        "imgItemGrid09": {
          "zlevel": 10,
          "type": "image",
          "position": [0, 20],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "mouseTransparent" : true,
          "file": "/objects/crew/interface/backingimagelegs_mod.png"
        },
        "imgItemGrid11": {
          "zlevel": 10,
          "type": "image",
          "position": [0, 0],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "mouseTransparent" : true,
          "file": "/objects/crew/interface/backingimageback_mod.png"
        },
        "imgItemGrid06": {
          "zlevel": 10,
          "type": "image",
          "position": [20, 60],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "file": "/objects/crew/interface/backingimagesocial_mod.png"
        },
        "imgItemGrid08": {
          "zlevel": 10,
          "type": "image",
          "position": [20, 40],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "file": "/objects/crew/interface/backingimagesocial_mod.png"
        },
        "imgItemGrid10": {
          "zlevel": 10,
          "type": "image",
          "position": [20, 20],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "file": "/objects/crew/interface/backingimagesocial_mod.png"
        },
        "imgItemGrid12": {
          "zlevel": 10,
          "type": "image",
          "position": [20, 0],
          "hAnchor": "left",
          "vAnchor": "bottom",
          "file": "/objects/crew/interface/backingimagesocial_mod.png"
        }
      }
    },
    "portraitRect" : {
      "zlevel" : 3,
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [210, 40, 260, 190],
      "visible" : false,
      "children" : {
        "portraitSlot01": {
          "zlevel": 31,
          "type": "image",
          "position": [0,0],
          "scale": 1.8
        },
        "portraitSlot02": {
          "zlevel": 32,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot03": {
          "zlevel": 33,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot04": {
          "zlevel": 34,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot05": {
          "zlevel": 35,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot06": {
          "zlevel": 36,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot07": {
          "zlevel": 37,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot08": {
          "zlevel": 38,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot09": {
          "zlevel": 39,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot10": {
          "zlevel": 40,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot11": {
          "zlevel": 41,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot12": {
          "zlevel": 42,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot13": {
          "zlevel": 43,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot14": {
          "zlevel": 44,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot15": {
          "zlevel": 45,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot16": {
          "zlevel": 46,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot17": {
          "zlevel": 47,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot18": {
          "zlevel": 48,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot19": {
          "zlevel": 49,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        },
        "portraitSlot20": {
          "zlevel": 50,
          "type": "image",
          "position": [0,0],
          "scale": 1.8,
          "file": ""
        }
      }
    }
  },
  "scriptWidgetCallbacks" : ["outfitSelected", "updateOutfitName"],
  "scripts" : ["/objects/crew/outfitpanescript.lua"],
  "scriptDelta" : 5,
  "initVars" : {
    "itemSlot" : [
      "primary",
      "alt",
      "sheathedprimary",
      "sheathedalt",
      "head",
      "headCosmetic",
      "chest",
      "chestCosmetic",
      "legs",
      "legsCosmetic",
      "back",
      "backCosmetic"
    ],
    "itemSlotType" : [
      "activeitem",
      "activeitem",
      "activeitem",
      "activeitem",
      "headarmor",
      "headarmor",
      "chestarmor",
      "chestarmor",
      "legsarmor",
      "legsarmor",
      "backarmor",
      "backarmor"
    ],
    "slotCount" : 12,
    "outfitFilter" : null
  },
  "portraitNames" : [
    "portraitRect.portraitSlot01",
    "portraitRect.portraitSlot02",
    "portraitRect.portraitSlot03",
    "portraitRect.portraitSlot04",
    "portraitRect.portraitSlot05",
    "portraitRect.portraitSlot06",
    "portraitRect.portraitSlot07",
    "portraitRect.portraitSlot08",
    "portraitRect.portraitSlot09",
    "portraitRect.portraitSlot10",
    "portraitRect.portraitSlot11",
    "portraitRect.portraitSlot12",
    "portraitRect.portraitSlot13",
    "portraitRect.portraitSlot14",
    "portraitRect.portraitSlot15",
    "portraitRect.portraitSlot16",
    "portraitRect.portraitSlot17",
    "portraitRect.portraitSlot18",
    "portraitRect.portraitSlot19",
    "portraitRect.portraitSlot20"
  ],
  "refreshManager" : {
    "outfitRect" : [
      "tbOutfitName",
      "btnAcceptOutfitName",
      "itemGrid",
      "itemGridImageRect",
      "itemGrid2",
      "itemGrid2ImageRect",
      "portraitRect"
    ],
    "dummy" : true
  }
}