{
  "gui": {
    "background": {
      "zlevel": -1,
      "type": "background",
      "fileHeader": "/objects/crew/interface/body_altered_long.png",
      "fileBody": "",
      "fileFooter": ""
    },
    "cvsBackground" : {
      "zlevel" : 0,
      "type" : "canvas",
      "rect" : [1, 1, 300, 500],
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },
    "outfitScrollArea": {
      "type": "scrollArea",
      "rect": [10, 10, 287, 450],
      "zlevel": 2,
      "visible": false,
      "children": {
        "outfitList": {
          "type": "list",
          "callback": "null",
          "fillDown" : false,
          "data" : {
            "portraitRect" : "outfitScrollArea.outfitList.%s.",
            "selectedSize" : [250, 80],
            "unselectedSize" : [250, 50],
            "outfit" : "id"
          },
          "schema": {
            "spacing": [0, 0],
            "memberSize": [250, 50],
            "listTemplate": {
              "background": {
                "type": "button",
                "position": [0, 0],
                "zlevel": -1,
                "base": "/objects/crew/interface/frame-new_2.png",
                "hover": "/objects/crew/interface/frame-new_2.png?fade=ffffff;0.10",
                "press": "/objects/crew/interface/frame-new_2.png",
                "pressedOffset" : [0,-1],
                "callback" : "expandItem",
                "data" : "outfitScrollArea.outfitList"
              },
              "title": {
                "type": "textbox",
                "position": [5, 40],
                "hAnchor": "left",
                "wrapWidth": 130,
                "value": "Replace Me",
                "callback": "setTitle",
                "enterKey" : "unfocusWidget",
                "hint": "Click Me To Change Title",
                "data" : ""
              },
              "listNumber": {
                "type": "label",
                "position": [190, 35],
                "value" : "1",
                "hAnchor": "left",
                "visible" : true
              },
              "btnDelete": {
                "type": "button",
                "zlevel": 9,
                "position": [220, 35],
                "base": "/interface/x.png",
                "hover": "/interface/xhover.png",
                "press": "/interface/xpress.png",
                "pressedOffset": [0, -1],
                "callback": "deleteOutfit",
                "visible": true
              },
              "portraitRect": {
                "zlevel": 3,
                "type": "layout",
                "layoutType": "basic",
                "position" : [130, 0],
                "size" : [70, 60],
                "visible": true,
                "children": {
                  "1": {
                    "zlevel": 31,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5
                  },
                  "2": {
                    "zlevel": 32,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "3": {
                    "zlevel": 33,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "4": {
                    "zlevel": 34,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "5": {
                    "zlevel": 35,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "6": {
                    "zlevel": 36,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "7": {
                    "zlevel": 37,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "8": {
                    "zlevel": 38,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "9": {
                    "zlevel": 39,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "10": {
                    "zlevel": 40,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "11": {
                    "zlevel": 41,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "12": {
                    "zlevel": 42,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "13": {
                    "zlevel": 43,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "14": {
                    "zlevel": 44,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "15": {
                    "zlevel": 45,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "16": {
                    "zlevel": 46,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "17": {
                    "zlevel": 47,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "18": {
                    "zlevel": 48,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "19": {
                    "zlevel": 49,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "20": {
                    "zlevel": 50,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "scriptWidgetCallbacks" : ["outfitSelected", "updateOutfitName", "deleteOutfit"],
  "scripts" : ["/objects/crew/outfitpanescript.lua"],
  "scriptDelta" : 5,
  "initVars" : {
    "itemSlot" : [
      "primary",
      "alt",
      "sheathedprimary",
      "sheathedalt",
      "head",
      "headCosmetic",
      "chest",
      "chestCosmetic",
      "legs",
      "legsCosmetic",
      "back",
      "backCosmetic"
    ],
    "itemSlotType" : [
      "activeitem",
      "activeitem",
      "activeitem",
      "activeitem",
      "headarmor",
      "headarmor",
      "chestarmor",
      "chestarmor",
      "legsarmor",
      "legsarmor",
      "backarmor",
      "backarmor"
    ],
    "slotCount" : 12,
    "outfitFilter" : null
  },
  "tailorPortraitNames" : [
    "tailorRect.portraitSlot01",
    "tailorRect.portraitSlot02",
    "tailorRect.portraitSlot03",
    "tailorRect.portraitSlot04",
    "tailorRect.portraitSlot05",
    "tailorRect.portraitSlot06",
    "tailorRect.portraitSlot07",
    "tailorRect.portraitSlot08",
    "tailorRect.portraitSlot09",
    "tailorRect.portraitSlot10",
    "tailorRect.portraitSlot11",
    "tailorRect.portraitSlot12",
    "tailorRect.portraitSlot13",
    "tailorRect.portraitSlot14",
    "tailorRect.portraitSlot15",
    "tailorRect.portraitSlot16",
    "tailorRect.portraitSlot17",
    "tailorRect.portraitSlot18",
    "tailorRect.portraitSlot19",
    "tailorRect.portraitSlot20"
  ],
  "visibilityManager" : {
    "outfitRect" : [
      "tbOutfitName",
      "btnAcceptOutfitName",
      "btnDeleteOutfit",
      "itemGrid",
      "itemGridImageRect",
      "itemGrid2",
      "itemGrid2ImageRect",
      "portraitRect"
    ],
    "dummy" : true
  }
}