{
  "gui": {
    "background": {
      "zlevel": -1,
      "type": "background",
      "fileHeader": "/objects/crew/interface/header.png",
      "fileBody": "/objects/crew/interface/body_altered.png",
      "fileFooter": ""
    },
    "tailorRect": {
      "zlevel": 1,
      "type": "layout",
      "layoutType": "basic",
      "rect": [-40, 190, 357, 300],
      "visible": true,
      "children": {
        "background": {
          "zlevel": -1,
          "type": "image",
          "position": [40, 0],
          "file": "/objects/crew/interface/headerbackground.png"
        },
        "footerBarBackground": {
          "zlevel": 0,
          "type": "image",
          "position": [40, 10],
          "file": "/objects/crew/interface/footerbackground.png"
        },
        "footerBarForeground": {
          "zlevel": 21,
          "type": "image",
          "position": [40, 10],
          "file": "/objects/crew/interface/footerforeground.png?fade=f5fc0e;0.75"
        },
        "portraitSlot01": {
          "zlevel": 1,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot02": {
          "zlevel": 2,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot03": {
          "zlevel": 3,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot04": {
          "zlevel": 4,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot05": {
          "zlevel": 5,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot06": {
          "zlevel": 6,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot07": {
          "zlevel": 7,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot08": {
          "zlevel": 8,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot09": {
          "zlevel": 9,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot10": {
          "zlevel": 10,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot11": {
          "zlevel": 11,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot12": {
          "zlevel": 12,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot13": {
          "zlevel": 13,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot14": {
          "zlevel": 14,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot15": {
          "zlevel": 15,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot16": {
          "zlevel": 16,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot17": {
          "zlevel": 17,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot18": {
          "zlevel": 18,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot19": {
          "zlevel": 19,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        },
        "portraitSlot20": {
          "zlevel": 20,
          "type": "image",
          "position": [0, -80],
          "scale": 5,
          "file": ""
        }
      }
    },
    "outfitScrollArea": {
      "type": "scrollArea",
      "rect": [10, 10, 257, 180],
      "zlevel": 10,
      "visible": false,
      "children": {
        "outfitList": {
          "type": "list",
          "callback": "null",
          "fillDown" : false,
          "schema": {
            "spacing": [0, 0],
            "memberSize": [250, 50],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "",
                "position": [0, 0],
                "zlevel": -1
              },
              "title": {
                "type": "textbox",
                "position": [5, 40],
                "hAnchor": "left",
                "wrapWidth": 130,
                "value": "Replace Me",
                "callback": "setTitle",
                "enterKey" : "unfocusWidget",
                "hint": "Click Me To Change Title"
              },
              "listNumber": {
                "type": "label",
                "position": [190, 35],
                "value" : "1",
                "hAnchor": "left",
                "visible" : true
              },
              "btnDelete": {
                "type": "button",
                "zlevel": 9,
                "position": [200, 35],
                "base": "/interface/x.png",
                "hover": "/interface/xhover.png",
                "press": "/interface/xpress.png",
                "pressedOffset": [-1, -1],
                "callback": "deleteOutfit",
                "visible": true
              },
              "itemSlotRect": {
                "zlevel": 3,
                "type": "layout",
                "layoutType": "basic",
                "rect": [2, 0, 130, 50],
                "children": {
                  "primary": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [0, 20],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimageprimary_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.primary"
                    
                  },
                  "alt": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [20, 20],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagealt_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.alt"
                  },
                  "sheathedprimary": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [0, 0],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimageprimary_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.shealthedprimary"
                  },
                  "sheathedalt": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [20, 0],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagealt_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.shealthedalt"
                  },
                  "head": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [40, 20],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagehead_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.head"
                  },
                  "chest": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [60, 20],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagechest_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.chest"
                  },
                  "legs": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [80, 20],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagelegs_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.legs"
                  },
                  "back": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [100, 20],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimageback_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.back"
                  },
                  "headCosmetic": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [40, 0],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagesocial_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.headCosmetic"
                  },
                  "chestCosmetic": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [60, 0],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagesocial_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.chestCosmetic"
                  },
                  "legsCosmetic": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [80, 0],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagesocial_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.legsCosmetic"
                  },
                  "backCosmetic": {
                    "zlevel": 10,
                    "type": "itemslot",
                    "position": [100, 0],
                    "hAnchor": "left",
                    "vAnchor": "top",
                    "rightClickCallback": "slotSelectedRight",
                    "callback": "slotSelected",
                    "backingImage": "/objects/crew/interface/backingimagesocial_mod.png",
                    "data": "outfitScrollArea.outfitList.%s.backCosmetic"
                  }
                }
              },
              "portraitRect": {
                "zlevel": 3,
                "type": "layout",
                "layoutType": "basic",
                "position" : [130, 0],
                "size" : [70, 60],
                "visible": true,
                "children": {
                  "portraitSlot01": {
                    "zlevel": 31,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5
                  },
                  "portraitSlot02": {
                    "zlevel": 32,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot03": {
                    "zlevel": 33,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot04": {
                    "zlevel": 34,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot05": {
                    "zlevel": 35,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot06": {
                    "zlevel": 36,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot07": {
                    "zlevel": 37,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot08": {
                    "zlevel": 38,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot09": {
                    "zlevel": 39,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot10": {
                    "zlevel": 40,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot11": {
                    "zlevel": 41,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot12": {
                    "zlevel": 42,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot13": {
                    "zlevel": 43,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot14": {
                    "zlevel": 44,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot15": {
                    "zlevel": 45,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot16": {
                    "zlevel": 46,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot17": {
                    "zlevel": 47,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot18": {
                    "zlevel": 48,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot19": {
                    "zlevel": 49,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  },
                  "portraitSlot20": {
                    "zlevel": 50,
                    "type": "image",
                    "position": [0, 0],
                    "scale": 1.5,
                    "file": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "btnNewOutfit": {
      "type": "button",
      "zlevel": 9,
      "position": [290, 180],
      "base": "/objects/crew/interface/buttonsmall.png?multiply=ff0000ff",
      "hover": "/objects/crew/interface/buttonsmall.png?multiply=ff0000ff?fade=ffffff;0.10",
      "pressedOffset": [-1, -1],
      "caption": "New",
      "callback": "newOutfit",
      "visible": false
    },
    "wardrobeScrollArea" : {
      "type":"scrollArea",
      "position" : [229, 0],
      "size" : [128, 180],
      "zlevel": 12,
      "visible": true,
      "children": {
        "wardrobeList": {
          "type": "list",
          "schema" : {
            "spacing": [0, 0],
            "memberSize": [119, 22],
            "listTemplate": {
              "background" :{
                "type" : "image",
                "file" : "/objects/crew/interface/listitem.png:disabled",
                "position" : [0,0],
                "zlevel" : -1
              },
              "title" : {
                "type" : "label",
                "value" : "crewmember",
                "hAnchor" : "left",
                "position" : [25,6],
                "zlevel" : 1                
              },
              "bustRect" : {
                "type" : "image",
                "position" : [10, 11],
                "centered" : true,
                "callback" : "null"
              }
            }            
          }        
        }
      }
    },
    "wardrobeTitle" : {
      "type" : "label",
      "value" : "Wardrobe",
      "hAnchor" : "left",
      "position" : [5,180],
      "zlevel" : 1,
      "visible" : true               
    }, 
    "wardrobeDetailScrollArea": {
      "type":"scrollArea",
      "position" : [0, 0],
      "size" : [229, 170],
      "zlevel": 12,
      "visible": true,
      "children": {  
        "wardrobeDetailList": {
          "spacing": [0, 0],
          "memberSize": [229, 44],
          "listTemplate" : {
            "background" : {
              "type" : "image",
              "position" : [0,0],
              "file" : "/objects/crew/interface/temp/bgcrewlistitem.png",
              "zlevel" : 1                
            },
            "title" : {
              "type" : "label",
              "value" : "planet Type",
              "hAnchor" : "left",
              "vAnchor" : "top",
              "position" : [2,33],
              "zlevel" : 1                
            },
            "baseOutfitButton" : {
              "type" : "label",
              "value" : "baseOutfitButton",
              "hAnchor" : "left",
              "position" : [23,22],
              "zlevel" : 1                
            },
          }
        }
      }
    }
  },
  "scriptWidgetCallbacks": ["outfitSelected", "updateOutfitName", "deleteOutfit", "slotSelected", "newOutfit"],
  "scripts": ["/objects/crew/outfitpanescript.lua"],
  "scriptDelta": 5,
  "portraitRect": [
    "portraitRect.portraitSlot01",
    "portraitRect.portraitSlot02",
    "portraitRect.portraitSlot03",
    "portraitRect.portraitSlot04",
    "portraitRect.portraitSlot05",
    "portraitRect.portraitSlot06",
    "portraitRect.portraitSlot07",
    "portraitRect.portraitSlot08",
    "portraitRect.portraitSlot09",
    "portraitRect.portraitSlot10",
    "portraitRect.portraitSlot11",
    "portraitRect.portraitSlot12",
    "portraitRect.portraitSlot13",
    "portraitRect.portraitSlot14",
    "portraitRect.portraitSlot15",
    "portraitRect.portraitSlot16",
    "portraitRect.portraitSlot17",
    "portraitRect.portraitSlot18",
    "portraitRect.portraitSlot19",
    "portraitRect.portraitSlot20"
  ],
  "tailorRect": [
    "tailorRect.portraitSlot01",
    "tailorRect.portraitSlot02",
    "tailorRect.portraitSlot03",
    "tailorRect.portraitSlot04",
    "tailorRect.portraitSlot05",
    "tailorRect.portraitSlot06",
    "tailorRect.portraitSlot07",
    "tailorRect.portraitSlot08",
    "tailorRect.portraitSlot09",
    "tailorRect.portraitSlot10",
    "tailorRect.portraitSlot11",
    "tailorRect.portraitSlot12",
    "tailorRect.portraitSlot13",
    "tailorRect.portraitSlot14",
    "tailorRect.portraitSlot15",
    "tailorRect.portraitSlot16",
    "tailorRect.portraitSlot17",
    "tailorRect.portraitSlot18",
    "tailorRect.portraitSlot19",
    "tailorRect.portraitSlot20"
  ],
  "baseOutfit" : {
    "items" : {},
    "displayName" : ""
  },
  "outfitManager": {
    "crew": {},
    "baseOutfit": {}
  },
  "paneManager": {
    "listPaths": {
      "outfitList": "outfitScrollArea.outfitList",
      "wardrobeList": "wardrobeScrollArea.wardrobeList",
      "wardrobeDetailList" : "wardrobeDetailScrollArea.wardrobeDetailList"
    },
    "listItems" : {
      "outfitScrollArea.outfitList" : {},
      "wardrobeScrollArea.wardrobeList" : {}
    },
    "rects" : {
      "baseOutfitPane" : [
        "outfitScrollArea",
        "btnNewOutfit"
      ],
      "wardrobePane" : [
        "wardrobeTitle"
        "wardrobeDetailScrollArea",
        "wardrobeScrollArea"
      ]
    }
  }
}
