{
  "gui": {
    "background": {
      "zlevel": -1,
      "type": "background",
      "fileBody": "/objects/crew/body_altered.png?setcolor=0000007F"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "zlevel" : 11,
      "position" : [80, 116],
      "dimensions" : [2, 4],
      "spacing" : [20, 20],
      "slotOffset" : 4,
      "hAnchor": "left",
      "vAnchor": "bottom",
      "backingImage" : "/interface/inventory/emptier.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "zlevel" : 11,
      "position" : [7, 116],
      "dimensions" : [1, 4],
      "spacing" : [20, 20],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "backingImage" : "/interface/inventory/emptier.png"
    },
    "imgItemGrid01": {
      "zlevel": 10,
      "type": "image",
      "position": [7, 176],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimageprimary_mod.png"
    },
    "imgItemGrid02": {
      "zlevel": 10,
      "type": "image",
      "position": [7, 156],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "mouseTransparent" : true,
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagealt_mod.png"
    },
    "imgItemGrid03": {
      "zlevel": 10,
      "type": "image",
      "position": [7, 136],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "mouseTransparent" : true,
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimageprimary_mod.png"
    },
    "imgItemGrid04": {
      "zlevel": 10,
      "type": "image",
      "position": [7, 116],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "mouseTransparent" : true,
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagealt_mod.png"
    },
    "imgItemGrid05": {
      "zlevel": 10,
      "type": "image",
      "position": [80, 176],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "mouseTransparent" : true,
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagehead_mod.png"
    },
    "imgItemGrid07": {
      "zlevel": 10,
      "type": "image",
      "position": [80, 156],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "mouseTransparent" : true,
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagechest_mod.png"
    },
    "imgItemGrid09": {
      "zlevel": 10,
      "type": "image",
      "position": [80, 136],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "mouseTransparent" : true,
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagelegs_mod.png"
    },
    "imgItemGrid11": {
      "zlevel": 10,
      "type": "image",
      "position": [80, 116],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "mouseTransparent" : true,
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimageback_mod.png"
    },

    "imgItemGrid06": {
      "zlevel": 10,
      "type": "image",
      "position": [100, 176],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagesocial_mod.png"
    },
    "imgItemGrid08": {
      "zlevel": 10,
      "type": "image",
      "position": [100, 156],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagesocial_mod.png"
    },
    "imgItemGrid10": {
      "zlevel": 10,
      "type": "image",
      "position": [100, 136],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagesocial_mod.png"
    },
    "imgItemGrid12": {
      "zlevel": 10,
      "type": "image",
      "position": [100, 116],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "file": "/interface/scripted/NpcMenu/inventoryIcons/backingimagesocial_mod.png"
    },
    "portraitSlot01": {
      "zlevel": 31,
      "type": "image",
      "position": [17,120],
      "scale": 1.8
    },
    "portraitSlot02": {
      "zlevel": 32,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot03": {
      "zlevel": 33,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot04": {
      "zlevel": 34,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot05": {
      "zlevel": 35,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot06": {
      "zlevel": 36,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot07": {
      "zlevel": 37,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot08": {
      "zlevel": 38,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot09": {
      "zlevel": 39,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot10": {
      "zlevel": 40,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot11": {
      "zlevel": 41,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot12": {
      "zlevel": 42,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot13": {
      "zlevel": 43,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot14": {
      "zlevel": 44,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot15": {
      "zlevel": 45,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot16": {
      "zlevel": 46,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot17": {
      "zlevel": 47,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot18": {
      "zlevel": 48,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot19": {
      "zlevel": 49,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    },
    "portraitSlot20": {
      "zlevel": 50,
      "type": "image",
      "position": [17,120],
      "scale": 1.8,
      "file": ""
    }
  },
  "scriptWidgetCallbacks": ["itemgrid.left", "itemgrid.right", "itemGrid2.left", "itemGrid2.right"],
  "scripts": ["/scripts/npcspawnutil.lua", "/objects/crew/outfitpanescript.lua"],
  "scriptDelta": 0,
  "overrideContainerTemplate": {
    "items": {
      "override": [[0,[{}]]]
    }
  }
}