{
	"init" : {
		"equipSlot" : [
        	"primary",
        	"alt",
        	"sheathedprimary",
        	"sheathedalt",
        	"head",
        	"headCosmetic",
        	"chest",
        	"chestCosmetic",
        	"legs",
        	"legsCosmetic",
        	"back",
        	"backCosmetic"
        ],
        "equipSlotType" : [
        	"activeitem",
      	 	"activeitem",
      	 	"activeitem",
      	 	"activeitem",
      	 	"headarmor",
      	 	"headarmor",
      	 	"chestarmor",
      	 	"chestarmor",
      	 	"legsarmor",
      	 	"legsarmor",
      	 	"backarmor",
         	"backarmor"
        ]
	}
}