{
  "gui": {
    "background": {
      "zlevel": -1,
      "type": "background",
      "fileFooter": "/objects/crew/interface/body_altered_long.png"
    },
    "cvsBackground" : {
      "zlevel" : 0,
      "type" : "canvas",
      "rect" : [1, 1, 300, 500],
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },
    "outfitScrollArea": {
      "type": "scrollArea",
      "rect": [10, 10, 287, 450],
      "zlevel": 2,
      "visible": true,
      "children": {
        "outfitList": {
          "type": "list",
          "callback": "null",
          "fillDown" : false,
          "data" : {
            "template" : "outfitScrollArea.outfitList.%s.",
            "selectedSize" : [250, 80],
            "unselectedSize" : [250, 50],
            "outfit" : "id"
          },
          "schema": {
            "spacing": [0, 0],
            "memberSize": [250, 50],
            "listTemplate": {
              "background": {
                "type": "button",
                "position": [0, 0],
                "zlevel": -1,
                "base": "/objects/crew/interface/frame-new_2.png",
                "hover": "/objects/crew/interface/frame-new_2.png?fade=ffffff;0.10",
                "press": "/objects/crew/interface/frame-new_2.png",
                "pressedOffset" : [0,-1],
                "callback" : "expandItem",
                "data" : "outfitScrollArea.outfitList"
              },
              "title": {
                "type": "textbox",
                "position": [5, 40],
                "hAnchor": "left",
                "wrapWidth": 130,
                "value": "Replace Me",
                "callback": "setTitle",
                "enterKey" : "unfocusWidget",
                "hint": "Click Me To Change Title",
                "data" : ""
              },
              "listNumber": {
                "type": "label",
                "position": [190, 35],
                "value" : "1",
                "hAnchor": "left",
                "visible" : true
              },
              "btnDelete": {
                "type": "button",
                "zlevel": 9,
                "position": [220, 35],
                "base": "/interface/x.png",
                "hover": "/interface/xhover.png",
                "press": "/interface/xpress.png",
                "pressedOffset": [0, -1],
                "callback": "deleteOutfit",
                "visible": true
              },
              "portraitRect": {
                "zlevel": 3,
                "type": "layout",
                "layoutType": "basic",
                "position" : [130, 0],
                "size" : [70, 60],
                "visible": true,
                "children": {
                  "1": {
                    "zlevel": 31,
                    "type": "image",
                    "scale": 1.5
                  },
                  "2": {
                    "zlevel": 32,
                    "type": "image",
                    "scale": 1.5
                  },
                  "3": {
                    "zlevel": 33,
                    "type": "image",
                    "scale": 1.5
                  },
                  "4": {
                    "zlevel": 34,
                    "type": "image",
                    "scale": 1.5
                  },
                  "5": {
                    "zlevel": 35,
                    "type": "image",
                    "scale": 1.5
                  },
                  "6": {
                    "zlevel": 36,
                    "type": "image",
                    "scale": 1.5
                  },
                  "7": {
                    "zlevel": 37,
                    "type": "image",
                    "scale": 1.5
                  },
                  "8": {
                    "zlevel": 38,
                    "type": "image",
                    "scale": 1.5
                  },
                  "9": {
                    "zlevel": 39,
                    "type": "image",
                    "scale": 1.5
                  },
                  "10": {
                    "zlevel": 40,
                    "type": "image",
                    "scale": 1.5
                  },
                  "11": {
                    "zlevel": 41,
                    "type": "image",
                    "scale": 1.5
                  },
                  "12": {
                    "zlevel": 42,
                    "type": "image",
                    "scale": 1.5
                  },
                  "13": {
                    "zlevel": 43,
                    "type": "image",
                    "scale": 1.5
                  },
                  "14": {
                    "zlevel": 44,
                    "type": "image",
                    "scale": 1.5
                  },
                  "15": {
                    "zlevel": 45,
                    "type": "image",
                    "scale": 1.5
                  },
                  "16": {
                    "zlevel": 46,
                    "type": "image",
                    "scale": 1.5
                  },
                  "17": {
                    "zlevel": 47,
                    "type": "image",
                    "scale": 1.5
                  },
                  "18": {
                    "zlevel": 48,
                    "type": "image",
                    "scale": 1.5
                  },
                  "19": {
                    "zlevel": 49,
                    "type": "image",
                    "scale": 1.5
                  },
                  "20": {
                    "zlevel": 50,
                    "type": "image",
                    "scale": 1.5
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "scriptWidgetCallbacks" : ["outfitSelected", "updateOutfitName", "deleteOutfit"],
  "scripts" : ["/objects/crew/outfitpanescript.lua"],
  "scriptDelta" : 5,
  "paneManager": {
    "listPaths": {
      "outfitList": "outfitScrollArea.outfitList",
      "wardrobeList": "wardrobeScrollArea.wardrobeList",
      "wardrobeDetailList" : "wardrobeDetailScrollArea.wardrobeDetailList"
    },
    "listItems" : {
      "outfitScrollArea.outfitList" : {},
      "wardrobeScrollArea.wardrobeList" : {},
      "wardrobeDetailScrollArea.wardrobeDetailList" : {}
    },
    "rects" : {
      "baseOutfitRect" : [
        "outfitScrollArea",
        "btnNewOutfit"
      ],
      "wardrobeRect" : [
        "wardrobeTitle",
        "wardrobeDetailScrollArea",
        "wardrobeScrollArea",
        "wardrobeScrollAreaBackground"
      ]
    }
  }
}